/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #fcc2fd; /*#BE05C1 #ff7518 */

$navbar-bg: #373a3c;
$navbar-fg: white;

// Code blocks
$code-block-bg-alpha: -.8;
